################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ConsoleApp1/bin/Debug
/ConsoleApp1/obj
/.vs
/ConsoleApp1/.vs/ConsoleApp1
/form_editor/obj/Debug
/form_editor/bin/Debug
/Test01_Hello/obj/Release
/form_editor/.vs/form_editor
/wintest02/obj/Debug
/wintest02/bin/Debug
/wintest02/.vs/wintest02
/WinFormsApp1/.vs
/WinFormsApp1/bin/Debug/net6.0-windows
/WinFormsApp1/obj
/wintest03/obj/Debug
/wintest04/bin/Debug
/wintest04/obj/Debug
/WinTest05/bin/Debug
/WinTest05/obj/Debug
/Testdatabase
