################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ConsoleApp1/bin/Debug
/ConsoleApp1/obj
/.vs
/ConsoleApp1/.vs/ConsoleApp1
/form_editor/obj/Debug
/form_editor/bin/Debug
/Test01_Hello/obj/Release
/form_editor/.vs/form_editor
